@model TheWizardsGameShop.Models.CreditCard

@{ ViewData["Title"] = "Add New Credit Card"; }

<div class="page contents" id="pageCreditCards" --data-theme="my-account">
    <div class="page-header flex-center">
        <h1>Credit Cards</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="Create" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
                <div class="form-group">
                    <label asp-for="CreditCardNumber" class="control-label"></label>
                    <input asp-for="CreditCardNumber" class="form-control" />
                    <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiryDate" class="control-label"></label>
                    <input asp-for="ExpiryDate" class="form-control" />
                    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cvc" class="control-label"></label>
                    <input asp-for="Cvc" class="form-control" />
                    <span asp-validation-for="Cvc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardHolder" class="control-label"></label>
                    <input asp-for="CardHolder" class="form-control" />
                    <span asp-validation-for="CardHolder" class="text-danger"></span>
                </div>
                <div class="form-buttons text-center">
                    <input type="submit" value="Add Credit Card" class="btn btn-primary" />
                    <a asp-action="Index" class="btn">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
