@model TheWizardsGameShop.Models.CreditCard

@{ ViewData["Title"] = "Edit Credit Card"; }

<div class="page contents" id="pageCreditCards" --data-theme="my-account">
    <div class="page-header flex-center">
        <h1>Credit Cards</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="Edit" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CreditCardId" />
                <input type="hidden" asp-for="UserId" />
                <div class="form-group">
                    <label asp-for="CreditCardNumber" class="control-label"></label>
                    <input asp-for="CreditCardNumber" class="form-control" readonly />
                    <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="flex-space-between">
                        <div style="width: 40%;">
                            <label asp-for="ExpiryDate" class="control-label"></label>
                            <input asp-for="ExpiryDate" class="form-control masked" placeholder="MM/YY" autocomplete="off" pattern="(1[0-2]|0[1-9])\/\d\d" data-valid-example="02/22" />
                        </div>
                        <div style="width: 40%;">
                            <label asp-for="Cvc" class="control-label"></label>
                            <input asp-for="Cvc" class="form-control" autocomplete="off" />
                        </div>
                    </div>

                    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                    <span asp-validation-for="Cvc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardHolder" class="control-label"></label>
                    <input asp-for="CardHolder" class="form-control" />
                    <span asp-validation-for="CardHolder" class="text-danger"></span>
                </div>
                <div class="form-buttons text-center">
                    <input type="submit" value="Save" class="btn btn--primary" />
                    <a asp-action="Index" class="btn">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/masking-input.js" data-autoinit="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
