@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{ 
    var session = HttpContextAccessor.HttpContext.Session;
    var isLoggedIn = session.GetInt32("userId") != null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Wizards' Game Shop</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Jost">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css2" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/sanitize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="flex-center">
        <nav class="nav contents flex-center-vertical">
            <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" title="The Wizards' Game Shop" alt="The Wizards' Game Shop" /></a>
            <ul class="nav-menu flex-center-vertical">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Games" asp-action="Index">Browse</a>
                </li>
            </ul>
            <ul class="nav-menu flex-center-vertical absolute-right">
                @if (isLoggedIn)
                {
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Menu" class="account flex-center-vertical"><span class="material-icons">account_circle</span>@session.GetString("userName")</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Create">Sign Up</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TheWizardsGameShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="modal" id="modal" style="display: none;">
        <div class="modal-blocker" onclick="closeModal();"></div>
        <div class="modal-window">
            <h2 id="modal-title"></h2>
            <p id="modal-message"></p>
            <p class="modal-buttons" id="modal-buttons"><a class="btn btn-primary">Delete</a><a class="btn" onclick="closeModal();">Cancel</a></p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
