@model IEnumerable<TheWizardsGameShop.Models.Review>

@{ 
    ViewData["Title"] = "Reports";
    ViewData["HeaderMode"] = "Employee"; 
}

<div class="page contents" id="pageReviews" --data-theme="employee-portal">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">content_paste</span>Reports</h1>
    </div>
    <div class="page-body">
        <div class="page-submenu flex-col-3">
            <div class="col">
                <a asp-controller="Users" asp-action="Employee" class="item">&lt; Back to Menu</a>
            </div>

            <div class="col page-tabs flex-center">
                <a asp-action="Index" class="tab selected">Games</a>
                <a asp-action="Index" class="tab" disabled>Customers</a>
                <a asp-action="Index" class="tab" disabled>Employees</a>
                <a asp-action="Index" class="tab" disabled>Sales</a>
                <a asp-action="Index" class="tab" disabled>Exceptions</a>
            </div>

            <div class="col"></div>
        </div>
        <div class="flex-center" style="width: 100%;">
            @await ViewBag.report.Render()
        </div>
    </div>
</div>