@model IEnumerable<TheWizardsGameShop.Models.Review>

@{ 
    ViewData["Title"] = "Reports";
    ViewData["HeaderMode"] = "Employee"; 
}

<div class="page contents" id="pageReviews" --data-theme="employee-portal">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">content_paste</span>Reports</h1>
    </div>
    <div class="page-body">
        <div class="page-submenu flex-col-3">
            <div class="col">
                <a asp-controller="Users" asp-action="Employee" class="item">&lt; Back to Menu</a>
            </div>

            <div class="col page-tabs flex-center">
                <a id="report-tab-gamelist" asp-action="Index" class="tab">Game List</a>
                <a id="report-tab-gamedetail" href="?reportName=GameDetailsReport" class="tab">Game Detail</a>
                <a id="report-tab-memberlist" href="?reportName=MemberReport" class="tab">Member List</a>
                @*<a id="report-tab-memberdetail" asp-action="Index" class="tab" disabled>Member Detail</a>*@
                <a id="report-tab-sales" href="?reportName=SalesReport" class="tab">Sales</a>
                <a id="report-tab-orders" href="?reportName=OrderReport" class="tab">Orders</a>
            </div>

            <div class="col"></div>
        </div>
        <div class="flex-center" style="width: 100%;">
            @await ViewBag.report.Render()
        </div>
    </div>
</div>

<script>
    if (location.search.indexOf("reportName=MemberReport") != -1) {
        $("#report-tab-memberlist").addClass("selected");
    } else if (location.search.indexOf("reportName=GameDetailsReport") != -1) {
        $("#report-tab-gamedetail").addClass("selected");
    } else if (location.search.indexOf("reportName=SalesReport") != -1) {
        $("#report-tab-sales").addClass("selected");
    } else if (location.search.indexOf("reportName=OrderReport") != -1) {
        $("#report-tab-orders").addClass("selected");
    } else if (location.search == "" || location.search.indexOf("reportName=GameReport") != -1) {
        $("#report-tab-gamelist").addClass("selected");
    }
</script>