@model TheWizardsGameShop.Models.Game

@{
    ViewData["Title"] = "Delete Game";
    ViewData["HeaderMode"] = "Employee";
}

<div class="page contents" id="pageError">
    <div class="page-body">
        <span class="material-icons">notification_important</span>
        @if (ViewData["WarningPageTitle"] != null || ViewData["WarningPageMessage"] != null)
        {
        <h2>@ViewData["WarningPageTitle"]</h2>
        <h4>@ViewData["WarningPageMessage"]</h4>
        }
        else
        {
        <h2>Are you sure?</h2>
        <h4>Please be aware that the game cannot be restored once deleted.</h4>
        }
        <div style="margin-top: 20px;">
            <form asp-action="Delete">
                <input type="hidden" asp-for="GameId" />
                <input type="submit" value="Delete" class="btn btn--primary" />
                <a href="javascript:history.back()" class="btn">Cancel</a>
            </form>
        </div>
    </div>
</div>