/* Global Styles for DOM objects */
:root {
    --header-height: 60px;
    --nav-height: 40px;
    --footer-height: 100px;
    --page-header-height: 200px;
    --page-header-long-height: 400px;
    --page-header-short-height: 100px;
    --page-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
    --page-box-shadow-darker: 0 30px 50px rgba(0, 0, 0, 0.2);
    --search-width: 360px;
    --search-suggestions-max-height: 350px;
    --spacing-xxs: 6px;
    --spacing-xs: 10px;
    --spacing-s: 15px;
    --spacing: 25px;
    --spacing-l: 35px;
    --spacing-xl: 50px;
    --spacing-xxl: 100px;
    --color-text: #2a2a2a;
    --color-text-lighter: #5f5f68;
    --color-brand: #8c84bf;
    --color-employee: gray;
    --color-border: #d8dbea;
    --color-border-darker: #c7c7d8;
    --color-background: #e6e7ed; /* rgb(230, 231, 237) */
    --color-background-lighter: #f2f3f7; /* rgb(242, 243, 247) */
    --color-background-light: #f9f9fc; /* rgb(249, 249, 251) */
    --border: 1px solid var(--color-border);
    --border-dotted: 1px dotted var(--color-border);
    --border-thicker: 2px solid var(--color-border);
    --border-radius: 10px;
    --border-radius-l: 20px;
    --border-radius-max: 999px;
    --timing-ease-out-smoother: cubic-bezier(0, 0.85, 0.95, 1);
}

* {
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Jost, 'Segoe UI', Arial;
    line-height: 1.25em;
}

input,
select {
    font-family: Jost, 'Segoe UI', Arial;
}

input[type=text],
input[type=password],
input[type=number],
input[type=datetime-local],
input[type=date],
select {
    font-weight: 600;
}

input::placeholder {
    color: var(--color-text-lighter);
    opacity: 0.4;
}

a {
    color: var(--color-text);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
    border: none;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding: 0;
}

hr {
    height: 1px;
    border: none;
    border-bottom: var(--border);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: var(--spacing-s) 0;
}

h1 {
    padding: var(--spacing-s) 0;
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    padding: var(--spacing-xs) 0;
    font-size: 1.75em;
    font-weight: 600;
}

h3 {
    padding: var(--spacing-xs) 0;
    font-size: 1.5em;
    font-weight: 600;
}

h5 {
    font-size: 0.9em;
}

h3, h4, h5, p {
    padding: var(--spacing-xxs) 0;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

th, td {
    padding: var(--spacing-s);
    padding-left: 0;
    border-bottom: var(--border);
    text-align: left;
    vertical-align: middle;
}

td {
    border-bottom: var(--border-dotted);
}

tr:last-of-type td {
    border-bottom: none;
}

textarea {
    width: 100%;
}

/* Common Styles */
.contents {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-vertical {
    display: flex !important;
    align-content: center;
    align-items: center;
}

.flex-space-between,
.flex-col-3 {
    display: flex !important;
    justify-content: space-between;
}

.flex-col-3 .col {
    width: 33.33%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.link {
    color: var(--color-brand);
    cursor: pointer;
}

.link:hover,
.link:active,
.link:focus {
    text-decoration: underline;
}

.link.selected {
    font-weight: 600;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-s) !important;
    border: var(--border-thicker) !important;
    border-radius: var(--border-radius-max);
    background-color: white !important;
    font-weight: 500;
    color: var(--color-text-lighter) !important;
    line-height: 1em;
}

.btn--s {
    padding: var(--spacing-xxs) var(--spacing-xs) !important;
    border-width: 1px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: var(--color-background-light) !important;
    border-color: var(--color-border-darker) !important;
    color: var(--color-text) !important;
    text-decoration: none;
}

.btn--primary,
.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
    background-color: var(--color-brand) !important;
    border-color: var(--color-brand) !important;
    color: white !important;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.list.narrow {
    max-width: 1000px;
}

.list .item {
    display: inline-block;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--spacing-xs) var(--spacing-s);
    position: relative;
}

.list .item.clickable:hover {
    cursor: pointer;
    border-color: var(--color-border-darker);
    background-color: var(--color-background-light);
}

.list .item.selected {
    border-color: var(--color-brand);
    background-color: var(--color-brand);
    color: white;
}

.list .item .item-options {
    width: 100%;
}

.list .item .option {
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
}

.list .item .option .material-icons {
    font-size: 1em;
    margin-right: 4px;
    opacity: 0.5;
}

.list .item .option:hover {
    color: var(--color-brand);
}

.list .item .option:hover .material-icons {
    opacity: 1;
}

.tab {
    position: relative;
    color: var(--color-text-lighter);
    padding-bottom: var(--spacing-xxs);
    margin: 0 var(--spacing-xs);
    margin-bottom: var(--spacing-xxs);
}

.tab:hover {
    color: var(--color-brand);
}

.tab.selected {
    color: var(--color-brand);
    font-weight: 600;
}

.tab.selected::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--color-brand);
}

/* Header */
header {
    height: var(--header-height);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 1;
}

.nav {
    position: relative;
}

.nav a:hover,
.nav a:active {
    text-decoration: none;
}

.nav-logo {
    margin-right: 20px;
}

.nav-logo img {
    height: var(--nav-height);
}

.nav-mode {
    color: white;
    background: var(--color-brand);
    border-radius: var(--border-radius-max);
    padding: var(--spacing-xxs) var(--spacing-s);
    font-weight: 600;
}

.nav-search,
.nav-search form {
    position: relative;
}

.nav-search form input {
    border: none;
    background: var(--color-background-lighter);
    border-radius: var(--border-radius-max);
    padding: var(--spacing-xxs) var(--spacing-s);
    padding-right: var(--spacing-l);
    font-weight: 600;
    width: var(--search-width);
}

.nav-search form input::placeholder {
    font-weight: 300;
}

.nav-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: var(--spacing-xxs);
    opacity: 0.33;
}

.nav-search-btn:hover {
    color: var(--color-brand);
    opacity: 1;
}

.nav-search-suggestions {
    position: absolute;
    top: calc(100% + var(--spacing-xxs));
    left: 0;
    width: 100%;
    height: auto;
    max-height: var(--search-suggestions-max-height);
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.925);
    border: 2px solid white;
    border-radius: var(--border-radius);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.125), 0 -1px 5px rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(12px);
    animation: fade-in-downward-s 0.1s var(--timing-ease-out-smoother);
    transition: all 0.1s var(--timing-ease-out-smoother);
    overflow: hidden;
}

.nav-search-suggestions iframe {
    width: 100%;
    height: 100%;
    border: none;
    max-height: var(--search-suggestions-max-height);
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 2px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: var(--border-radius-max);
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: rgba(32, 29, 90, 0.07);
}

.nav-menu li a.primary, .nav-menu li a.primary:hover {
    background-color: var(--color-brand);
    color: white;
}

.nav-menu li a.account {
    padding: 0;
    margin-right: var(--spacing-xs);
}

.nav-menu li a.account:hover {
    background-color: transparent;
    text-decoration: underline;
}

.nav-menu li a.account .material-icons {
    color: var(--color-brand);
    font-size: 2em;
    margin-right: 8px;
}

.suggestions {
    width: 100%;
    font-size: 0.95em;
}

.suggestions .item {
    display: block;
    width: 100%;
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: 3px;
}

.suggestions .item:hover {
    background-color: white;
    color: var(--color-brand);
}

.game-background {
    position: fixed;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120vh;
    z-index: -1;
    filter: blur(50px) brightness(75%) grayscale(25%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 1) 90%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 1) 90%);
}

/* Footer */
html {
    position: relative;
    min-height: 100%;
    background-image: url('../images/bg.png');
}

body {
    /* Margin bottom by footer height */
    margin-bottom: var(--footer-height);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: var(--footer-height); /* Vertically center the text there */
}

/* Page */
.page {
    background-color: white;
    box-shadow: var(--page-box-shadow);
}

.page-header {
    height: var(--page-header-height);
    padding: 0 var(--spacing-xl);
    background-size: cover;
    background-position: center 25%;
    position: relative;
}

.page-header.nobackground {
    padding: 0;
    margin: 0 var(--spacing-xl);
    border-bottom: var(--border);
}

.page-header.long {
    height: var(--page-header-long-height);
}

.page-header.short {
    height: var(--page-header-short-height);
    text-align: left;
}

.page-header.short h1 {
    font-size: 2em;
}

.page-header.short h1 .material-icons {
    transform: scale(1.25);
    margin-right: var(--spacing-s);
}

.page-header h4 {
    margin: var(--spacing-l) 0 0 0;
    font-size: 1.125em;
}

.page-submenu {
    padding: 0;
    margin-bottom: var(--spacing);
}

.page-number {
    
}

.page-number .link {
    margin-right: var(--spacing-xxs);
}

.page-number .link:last-child {
    margin-right: 0;
}

.page-body {
    padding: var(--spacing-xl);
}

/* Modal */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000 !important;
}

.modal-blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    /*animation: fade-in 0.1s ease-out;*/
    backdrop-filter: blur(2px);
}

.modal-window {
    border: var(--border-thicker);
    background-color: white;
    padding: var(--spacing);
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    animation: fade-in-upward-s 0.1s var(--timing-ease-out-smoother);
    /*backdrop-filter: blur(10px);*/
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-buttons {
    padding: 0;
    margin: var(--spacing) 0 0 0;
    text-align: center;
}

.modal h2 {
    font-size: 1.25em;
    border-bottom: var(--border);
    margin-bottom: var(--spacing-xs);
}

.modal .btn {
    border: none;
    font-size: 1em;
}

/* Form */
form {
    margin: 0;
}

form.narrow {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.text-danger {
    font-size: 0.9em;
    color: darkred;
    display: block;
    margin-top: var(--spacing-xxs);
}

.form-group {
    margin: var(--spacing-s) 0;
}

.form-buttons {
    margin-top: var(--spacing);
}

.control-label {
    display: block;
    margin-bottom: var(--spacing-xxs);
}

.form-control {
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: var(--color-background-lighter);
    padding: var(--spacing-xxs) var(--spacing-s);
}

input[type=text].form-control,
input[type=password].form-control {
    width: 100%;
}

input[type=text].form-control.narrow,
input[type=password].form-control.narrow,
input[type=number].form-control.narrow {
    width: 60%;
    max-width: 200px;
    margin-right: 2%;
}

input[type=text].form-control.narrow:last-of-type,
input[type=password].form-control.narrow:last-of-type {
    margin-right: 0;
}

.form-control:focus {
    background-color: var(--color-background);
}

.form-control:disabled,
input[type=text].form-control:read-only, 
input[type=password].form-control:read-only, 
input[type=number].form-control:read-only {
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}



/* Home Page */

@keyframes home-header {
    from {
        background-position: center 25%;
    }

    to {
        background-position: center top;
    }
}

@keyframes page-header {
    from {
        opacity: 0.25;
        background-position: center 20%;
    }

    to {
        opacity: 1;
        background-position: center 25%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-upward {
    from {
        opacity: 0.2;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-upward-s {
    from {
        opacity: 0.2;
        transform: translateY(2.5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-upward-l {
    from {
        opacity: 0.2;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-downward-s {
    from {
        opacity: 0.2;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-header {
    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    height: 500px;
    margin-bottom: -200px;
    padding-bottom: 200px;
    animation: home-header 1.25s ease-in-out;
}

.home-header h1 {
    background: -webkit-linear-gradient(white 20%, var(--color-background) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-size: 3em;
    animation: fade-in-upward-l 1s ease-out;
}

#pageHome {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

#pageHome section {
    margin-bottom: var(--spacing-xl);
}

#pageHome section h2 {
    background: -webkit-linear-gradient(var(--color-brand) 20%, var(--color-text-lighter) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;

    margin-bottom: var(--spacing);
}

#pageHome iframe.home-list-iframe {
    width: 100%;
    height: 100%;
    border: none;
    height: 220px;
}

.list--home {
}

    .list--home .item {
        width: 32.33%;
        margin-right: 1.5%;
        display: flex;
        height: 220px;
        justify-content: center;
        align-items: flex-end;
        font-size: 1.4em;
        font-weight: 600;
        background-size: cover;
        color: white;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
        position: relative;
        padding: 0;
        overflow: hidden;
        transition: all 0.1s var(--timing-ease-out-smoother);
        border: none;
        border-radius: var(--border-radius-l);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px inset;
        background-color: var(--color-background);
    }

    .list--home .item:hover {
        transform: scale(0.98);
        filter: brightness(1.2);
    }

    .list--home .item__title {
        display: block;
        background-color: rgba(0, 0, 0, 0.33);
        width: 100%;
        padding: var(--spacing-s);
        backdrop-filter: blur(10px);
    }

.btn--home {
    font-size: 1.5em;
    font-weight: 600;
    padding: var(--spacing-s) var(--spacing-l) !important;
}

/*.list--home .item::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    height: 60px;
    z-index: 0;
}*/
    .list--home .item:last-child {
        margin-right: 0;
    }

/* Error Page */
#pageError .page-body {
    padding: var(--spacing-xxl) var(--spacing-l);
    text-align: center;
    color: darkred;
}

#pageError .material-icons {
    font-size: 10em;
}

#pageError h3 {
    color: var(--color-text-lighter);
}

/* My Account, Employee Portal Page */
.page[--data-theme="my-account"] .page-header {
    background-color: var(--color-brand);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,0.2));
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page[--data-theme="employee-portal"] .page-header {
    background-color: var(--color-employee);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,0.2));
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#pageMyAccount .list,
#pageEmployeePortal .list {
    margin: -2% auto -2% auto;
    padding: 2.5% 0;
}

#pageMyAccount .list .item,
#pageEmployeePortal .list .item {
    text-align: center;
    width: 29.3%;
    margin: 2%;
    padding: var(--spacing) var(--spacing-s);
}

#pageMyAccount .list .item p,
#pageEmployeePortal .list .item p {
    width: 100%;
    font-size: 1.5em;
}

#pageMyAccount .list .item h5,
#pageEmployeePortal .list .item h5 {
    width: 100%;
    color: var(--color-text-lighter);
    height: 40px;
}

#pageMyAccount .list .item .material-icons,
#pageEmployeePortal .list .item .material-icons {
    display: block;
    font-size: 3em;
    color: var(--color-brand);
    margin: 0 auto var(--spacing-xxs) auto;
}

/* Addresses, Credit Cards, People Page */
#pageAddresses .page-header,
#pageCreditCards .page-header,
#pagePeople .page-header {
    background-color: var(--color-brand);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,0.2));
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#pageAddresses .list,
#pageCreditCards .list,
#pagePeople .list {
    margin: -1%;
}

#pageAddresses .list .item,
#pageCreditCards .list .item,
#pagePeople .list .item {
    width: 31.33%;
    margin: 1%;
    min-height: 180px;
}

#pageAddresses .list .item.add,
#pageCreditCards .list .item.add,
#pagePeople .list .item.add {
    border-style: dashed;
    border-width: 2px;
    font-size: 1.25em;
    text-align: center;
}

#pageAddresses .list .item.add p,
#pageCreditCards .list .item.add p,
#pagePeople .list .item.add p {
    width: 100%;
}

#pageAddresses .list .item.add .material-icons,
#pageCreditCards .list .item.add .material-icons,
#pagePeople .list .item.add .material-icons {
    display: block;
    font-size: 2.5em;
    color: var(--color-brand);
    margin: 0 auto var(--spacing-xxs) auto;
}

/* Favorites Page */

#pageFavorites section {
    padding: var(--spacing-l);
    border: 3px dashed var(--color-background);
    border-radius: var(--border-radius-l);
    margin-bottom: var(--spacing);
    position: relative;
}

#pageFavorites section.highlight {
    background: var(--color-background-lighter);
    border: none;
}

#pageFavorites section:last-child {
    margin-bottom: 0;
}

#pageFavorites section h3,
#pageFavorites section h4 {
    color: var(--color-text-lighter);
}


#pageFavorites section hr {
    border-bottom: var(--border-dotted);
    margin-bottom: var(--spacing);
}

#pageFavorites section.highlight hr {
    border-bottom: var(--border);
}

#pageFavorites .list {
    margin: -1%;
}

#pageFavorites .list__message {
    color: var(--color-border-darker);
    font-size: 1.5em;
    width: 100%;
    height: 100px;
}

#pageFavorites .list .item {
    width: 18%;
    margin: 1%;
    padding: var(--spacing-l) var(--spacing-xs);
    min-height: 150px;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -0.2px;
}

#pageFavorites section .item {
    border: none;
    border-radius: var(--border-radius-l);
    background: var(--color-background-lighter);
    color: var(--color-text-lighter);
}

#pageFavorites section .item.clickable:hover {
    color: var(--color-brand);
}

#pageFavorites section.highlight .item {
    background: white;
    color: var(--color-brand);
}

#pageFavorites section.highlight .item.selected {
    border-color: var(--color-brand);
    background-color: var(--color-brand);
    color: white;
}

#pageFavorites section.highlight .item.selected.clickable:hover {
    background-color: var(--color-brand);
}

#pageFavorites .list .item__icon {
    width: 100%;
    margin-bottom: var(--spacing-s);
    font-size: 2em;
    text-align: center;
}

/* Game Page */
#pageGames {
    background-color: rgba(255, 255, 255, 0.9);
}


#pageGames .page-header {
    animation: page-header 0.2s var(--timing-ease-out-smoother);
}

#pageGames .page-header::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

#pageGames .page-body {
    padding: var(--spacing-xxl);
}

#pageGames .page-body section {
    line-height: 1.5;
}

#pageGames .page-body h3 {
    margin-bottom: var(--spacing);
}

#pageGames .page-body hr {
    margin: var(--spacing-xl) 0;
}

#pageGames #game-info {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /*border: 2px solid white;*/
    margin-top: calc(var(--spacing-xl) * -1 - 150px);
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing);
    backdrop-filter: blur(20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    animation: fade-in-upward-s 0.2s var(--timing-ease-out-smoother);
}

#pageGames #game-info__thumbnail {
    width: 120px !important;
}

#pageGames #game-info__title {
    width: calc(100% - 340px) !important;
    padding: 0 var(--spacing);
}

#pageGames #game-info__rate__grade {
    color: var(--color-text-lighter);
    font-weight: 600;
    font-size: 1.125em;
    margin-left: var(--spacing-xxs);
}

#pageGames #game-info__rate__user {
    border-radius: var(--border-radius-max);
    font-size: 0.9em;
    background: var(--color-brand);
    color: white;
    padding: 1px var(--spacing-xs);
    margin-left: var(--spacing-s);
    position: relative;
    display: inline-block;
}

#pageGames #game-info__rate__user__select {
    position: absolute;
    top: calc(100% + var(--spacing-xxs));
    left: calc(50% - 70px);
    width: 140px;
    text-align: center;
    background: white;
    border: var(--border-thicker);
    padding: var(--spacing-xs);
    letter-spacing: -3px;
    line-height: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    animation: fade-in-downward-s 0.1s var(--timing-ease-out-smoother);
    display: none;
}

#pageGames #game-info__rate__user__select a {
    color: var(--color-text-lighter);
}

#pageGames #game-info__rate__user__select a.hover {
    color: orange;
}

#pageGames #game-info__rate__user__select .material-icons {
    font-size: 14pt;
}

#pageGames #game-info__rate__icon {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: -2px;
    line-height: 0;
}

#pageGames #game-info__rate__icon__highlight {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    color: orange;
    width: 50%;
    height: 100%;
    overflow: hidden;
    overflow-wrap: normal;
    word-break: keep-all;
    white-space: nowrap;
}

#pageGames #game-info__buy {
    width: 220px !important;
}

#pageGames #game-info__buy__btn {
    border-radius: 0 !important;
    padding: var(--spacing-s) var(--spacing-xxs) !important;
    margin: var(--spacing-xxs) 0;
    font-size: 1.125em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.2s var(--timing-ease-out-smoother);
}

#pageGames #game-info__buy__btn:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

#pageGames #game-info__buy__btn:active {
    transform: scale(1.02);
}

#pageGames #game-info__buy__btn .material-icons {
    margin-right: var(--spacing-xxs);
    vertical-align: middle;
}

#pageGames #game-info__price {
    font-size: 1.25em;
    font-weight: 600;
}

#pageGames #game-requirements .item {
    width: fit-content;
    border: var(--border-thicker);
    border-radius: var(--border-radius);
    background: white;
    padding: var(--spacing-xxs) var(--spacing);
    font-size: 1.25em;
}

#pageGames #game-requirements .item__icon {
    margin-right: var(--spacing-xs);
}

#pageGames .game-reviews {
    width: 100%;
}

#pageGames .game-reviews--my {
    border: var(--border);
    border-radius: var(--border-radius);
    background-image: linear-gradient(rgba(255, 255, 100, 0.1), rgba(255, 255, 100, 0.2));
}

#pageGames .game-reviews td {
    padding: var(--spacing) var(--spacing-s);
    padding-left: 0;
}

#pageGames .game-reviews-username {
    width: 250px;
}

#pageGames .game-reviews--my .game-reviews-username {
    padding-left: var(--spacing);
}

#pageGames .game-reviews-content {
    width: calc(100% - 450px);
}

#pageGames .game-reviews-date {
    width: 200px;
}


/* Review Page */
#pageReviews .table {

}

#pageReviews .table td {
    vertical-align: top;
}

/* Cart Page */
#pageCart #cart-table {
    margin-bottom: var(--spacing);
}
#pageCart .cart-quantity-button {
    margin: 0 var(--spacing-xs);
    color: var(--color-brand);
}

.shell {
    position: relative;
}

.shell span {
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    padding: var(--spacing-xxs) var(--spacing-s);
    font-weight: 100;
}

input.masked,
.shell span {
    font-size: 19px;
    font-family: monospace;
    padding-right: 10px;
    text-transform: uppercase;
}