@model TheWizardsGameShop.Models.WizardsUser

@{ ViewData["Title"] = "Change Password"; }

<div class="page contents" id="pageMyAccount" --data-theme="my-account">
    <div class="page-header flex-center">
        <h1>Change Password</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="ChangePassword" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" class="form-control" value="@ViewData["UserId"]" />
                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label">Current Password</label>
                    <input type="password" asp-for="PasswordHash" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input type="password" name="newPassword" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm New Password</label>
                    <input type="password" name="newPasswordConfirm" class="form-control" required />
                </div>
                <span class="text-danger">@TempData["Message"]</span>
                <div class="form-buttons text-center">
                    <input type="submit" value="Confirm" class="btn btn--primary" />
                    <a asp-action="Edit" class="btn">Back to Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>