@model TheWizardsGameShop.Models.WizardsUser

@{
    ViewData["Title"] = "Sign Up";
}

<div class="page contents" id="pageSignUp" --data-theme="my-account">
    <div class="page-header flex-center text-center">
        <div>
            <h1>Sign Up</h1>
            <h4>Welcome to The Wizards' Game Shop!</h4>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="Create" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control narrow" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger">@TempData["UserExistedMessage"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label"></label>
                    <input type="password" asp-for="PasswordHash" class="form-control narrow" placeholder="Minimum 8 characters" />
                    <span asp-validation-for="PasswordHash" class="text-danger" style="margin-bottom: var(--spacing-xs);"></span>
                    <input type="password" name="passwordConfirm" class="form-control narrow" placeholder="Confirm Password" />
                    <span class="text-danger">@TempData["PasswordConfirmMessage"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Name</label>
                    <div class="flex-space-between">
                        <input asp-for="FirstName" class="form-control narrow" placeholder="First Name" />
                        <input asp-for="LastName" class="form-control narrow" placeholder="Last Name" />
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" type="date" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ReceivePromotionalEmails" /> @Html.DisplayNameFor(model => model.ReceivePromotionalEmails)
                    </label>
                </div>
                <div class="form-buttons text-center">
                    <input type="submit" value="Sign Up" class="btn btn-primary" />
                    <a asp-action="Login" class="btn">Back to Login</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
