@{ ViewData["Title"] = "Employee Portal"; }

<div class="page contents" id="pageMyAccount">
    <div class="page-header page-header-full flex-center">
        <h1>Employee Portal</h1>
    </div>
    <div class="page-body">
        <div class="list narrow">
            <a asp-action="Edit" class="item clickable flex-center">
                <span class="material-icons">person</span>
                <p>Profile</p>
                <h5>Edit personal info such as name, phone number, and email address</h5>
            </a>
            <a asp-controller="Games" asp-action="Admin" class="item clickable flex-center">
                <span class="material-icons">category</span>
                <p>Manage Games</p>
                <h5>Add, edit and delete games</h5>
            </a>
            <a asp-controller="Reviews" asp-action="Index" class="item clickable flex-center">
                <span class="material-icons">comment</span>
                <p>Manage Reviews</p>
                <h5>View and publish user reviews</h5>
            </a>
            <a asp-controller="Reports" asp-action="Index" class="item clickable flex-center">
                <span class="material-icons">content_paste</span>
                <p>Reports</p>
                <h5>View and print reports</h5>
            </a>
            <a class="item clickable flex-center" onclick="alert('Not available', 'Coming soon');">
                <span class="material-icons">receipt</span>
                <p>Orders</p>
                <h5>View and manage past and ongoing orders</h5>
            </a>
        </div>
    </div>
</div>