@{ ViewData["Title"] = "Not Logged In"; }

<div class="page contents" id="pageMyAccount">
    <div class="page-header page-header-full flex-center">
        <h1>Not authorized</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="ResetPassword" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>*@
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                    <a asp-action="Login" class="btn">Go Home</a>
                </div>
            </form>
        </div>
    </div>
</div>