@model TheWizardsGameShop.Models.Users

@{ ViewData["Title"] = "Reset Password"; }

<div class="page contents" id="pageMyAccount">
    <div class="page-header page-header-full flex-center">
        <h1>Reset Password</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="ResetPassword" class="narrow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <p>New password will be sent to the email address registered in the account.</p>
                </div>
                <span class="text-danger">@TempData["Message"]</span>
                <div class="form-buttons text-center">
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                    <a asp-action="Login" class="btn">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>