@model TheWizardsGameShop.Models.GameStatus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStatus1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStatus1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameStatusCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
