@model TheWizardsGameShop.Models.Review

@{
    ViewData["Title"] = "Edit Review";
}

<div class="page contents" id="pageGames" --data-theme="games">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">comment</span>Edit Review</h1>
    </div>
    <div class="row page-body">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReviewId" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="GameId" />
                <input type="hidden" asp-for="ReviewDate" />
                <input type="hidden" asp-for="IsPublished" />
                <div class="form-group">
                    @*<label asp-for="ReviewContent" class="control-label"></label>*@
                    @*<input asp-for="ReviewContent" class="form-control" />*@
                    <textarea name="ReviewContent" class="form-control" rows="15">@Model.ReviewContent</textarea>
                    <span asp-validation-for="ReviewContent" class="text-danger"></span>
                </div>
                <div class="form-buttons text-center">
                    <input type="submit" value="Submit" class="btn btn--primary" />
                    <a href="/Games/Details/@Model.GameId" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
