@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header page-header-full flex-center">
    <div class="contents text-center">
        <h1>Welcome to The Wizards' Game Shop</h1>
    </div>
</div>
<div class="page contents" id="pageHome">
    <div class="page-body">
        <section>
            <h2>RPG</h2>
            <div class="list">
                <div class="item"><br /><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
            </div>
        </section>
        <section>
            <h2>Shooting</h2>
            <div class="list">
                <div class="item"><br /><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
            </div>
        </section>
        <section>
            <h2>Casual</h2>
            <div class="list">
                <div class="item"><br /><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
                <div class="item"><br /><br /><br /><br /><br /></div>
            </div>
        </section>
    </div>
</div>