@{
    ViewData["Title"] = "Home Page";
}

<div class="page" id="pageHome">
    <div class="page-header page-header-full text-center">
        <h1>Welcome to The Wizards' Game Shop</h1>
    </div>
    <div class="contents">
        <div class="text-center">
            
        </div>
    </div>
</div>