@model List<CartItem>

@{ ViewData["Title"] = "Checkout"; }

<div class="page contents" id="pageCart" --data-theme="my-account">
    <div class="page-header short flex-center-vertical">
        <h1><span class="material-icons">shopping_cart</span>Checkout</h1>
    </div>
    <div class="page-body">
        <div>
            <div>
                Credit Card
            </div>
            <div>
                Mailing Address
            </div>
            <div>
                Shipping Address
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn--primary">Confirm</a>
        </div>
    </div>
</div>